.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.thumbnail {
  overflow: hidden;
  display: block;
  min-width: 1px;
  min-height: 1px;
  object-fit: cover;
  width: 40svh;
  border-radius: 12px;
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
  width: 6svh;
  margin-top: 15px;
  min-width: 1px;
  min-height: 1px;
}

.sidebar {
  padding-right: 5.5rem;
}
