<div class="container">
  <div class="grid">
    <div>
      <img class="thumbnail" src="https://uploads.dailydot.com/2018/10/olli-the-polite-cat.jpg?q=65&auto=format&w=2270&ar=2:1&fit=crop" alt="cat-img">
      <div class="row">
        <div class="col-2">
          <%= image_tag 'pfp.webp', alt: 'avatar', class: "pfp" %>
        </div>
        <div class="col-6">
          <p class="title">Title</p>
          <p class="font-gray">channel</p>
          <p class="font-gray">100 views</p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</div>
