<div id="<%= dom_id post %>">
  <p>
    <video controls>
      <source src="<%= url_for(post.video)%>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </p>
  <p>
    <%= post.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
</div>
