<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Posts</h1>
  <div id="posts" class="grid">
    <% @posts.each do |post| %>
      <div class="thumbnail">
        <%= link_to post do %>
          <%= render post %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
