.video {
width: 874px;
height: 492px;
}
.video-title {
 font-size: 2rem;
 font-weight: 700;
}
.thumbnail-show {
  width: 12em;
  height: 8rem;
  border-radius: 10px;
}
.video-desc {
  margin-bottom: 0.5rem;
}
.desc-gray {
  color: #9a9a9a;
}
