.video {
width: 874px;
height: 492px;
}
.video-title {
 font-size: 2rem;
 font-weight: 700;
}
.thumbnail-show {
  width: 15em;
}
.show-title {
font-size: 1.4rem;
}
.show-details {
  font-size: 1.2rem;
}
